<!--
Start About Section
==================================== -->
<section class="about" id="about">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xl-6 col-lg-8">
				<!-- section title -->
				<div class="title text-center">
					<h2>회사 소개</h2>
					<p>Fandom Robotics는 AI와 블록체인 기술의 융합을 통해 혁신적인 비즈니스 솔루션을 제공하는 기술 선도 기업입니다.</p>
					<div class="border"></div>
				</div>
				<!-- /section title -->
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 mb-5 mb-lg-0">
				<img loading="lazy" src="images/about-us.jpg" class="img-fluid" alt="">
			</div>
			<div class="col-lg-6">
				<p>Fandom Robotics는 2024년에 설립된 혁신적인 기술 기업으로, 인공지능과 블록체인 기술의 융합을 통해 기존 산업의 한계를 돌파하고 새로운 가치를 창출하는 것을 목표로 합니다. 우리는 최첨단 기술과 창의적인 솔루션으로 고객의 디지털 전환을 지원합니다.</p>
				<p>전문가 팀은 AI, 블록체인, 암호화폐 분야에서 풍부한 경험을 바탕으로 고객의 비즈니스 성공을 위한 맞춤형 솔루션을 제공합니다. 투명성과 신뢰성을 바탕으로 지속 가능한 성장을 추구합니다.</p>
				<h4>핵심 역량</h4>
				<ul class="feature-list">
					<li> <i class="tf-ion-android-checkmark-circle"></i> 블록체인 시스템 개발</li>
					<li> <i class="tf-ion-android-checkmark-circle"></i> AI 솔루션 구축</li>
					<li> <i class="tf-ion-android-checkmark-circle"></i> 암호화폐 재단 컨설팅</li>
					<li> <i class="tf-ion-android-checkmark-circle"></i> NFT 및 DApp 개발</li>
					<li> <i class="tf-ion-android-checkmark-circle"></i> 토큰 이코노미 설계</li>
				</ul>
				<a href="contact.html" class="btn btn-main mt-20">더 알아보기</a>
			</div>
		</div> <!-- End row -->
	</div> <!-- End container -->
</section> <!-- End section -->