<footer id="footer" class="bg-one">
  <div class="top-footer">
    <div class="container">
      <div class="row justify-content-around">
        <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
          <h3>Fandom Robotics</h3>
          <p>AI와 블록체인 기술의 융합을 통해 혁신적인 비즈니스 솔루션을 제공하는 기술 선도 기업입니다.</p>
        </div>
        <!-- End of .col-sm-3 -->

        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <ul>
            <li>
              <h3>핵심 서비스</h3>
            </li>
            <li><a href="service.html">암호화폐 재단 컨설팅</a></li>
            <li><a href="service.html">토큰 발행 및 상장</a></li>
            <li><a href="service.html">블록체인 시스템 개발</a></li>
            <li><a href="service.html">DApp 및 지갑 개발</a></li>
            <li><a href="service.html">거래소 개발</a></li>
            <li><a href="service.html">트레이딩 봇 개발</a></li>
            <li><a href="service.html">웹사이트 제작</a></li>
          </ul>
        </div>
        <!-- End of .col-sm-3 -->

        <div class="col-lg-2 col-md-6 mb-5 mb-md-0">
          <ul>
            <li>
              <h3>바로가기</h3>
            </li>
            <li><a href="about.html">회사소개</a></li>
            <li><a href="service.html">서비스</a></li>
            <li><a href="portfolio.html">프로젝트</a></li>
            <li><a href="contact.html">문의</a></li>
          </ul>
        </div>
        <!-- End of .col-sm-3 -->

        <div class="col-lg-3 col-md-6">
          <ul>
            <li>
              <h3>연락처</h3>
            </li>
            <li class="ceo-info">대표: 이재익</li>
            <li class="phone-info">전화: 010 5894 0144</li>
          </ul>
        </div>
        <!-- End of .col-sm-3 -->

      </div>
    </div> <!-- end container -->
  </div>
  <div class="footer-bottom">
    <h5>&copy; Copyright 2024 Fandom-Robotics Inc. All Rights Reserved.</h5>
  </div>
</footer> <!-- end footer -->


<!-- end Footer Area
========================================== -->