<!--
Fixed Navigation
==================================== -->
<header class="navigation fixed-top">
  <div class="container">
    <!-- main nav -->
    <nav class="navbar navbar-expand-lg navbar-light px-0">
      <!-- logo -->
      <a class="navbar-brand logo" href="index.html">
        <div class="logo-container">
          <img loading="lazy" class="logo-img logo-default" src="images/fandom-logo.png" alt="Fandom Robotics Logo" />
          <img loading="lazy" class="logo-img logo-white" src="images/fandom-logo.png" alt="Fandom Robotics Logo" />
          <span class="logo-text logo-default">FANDOM ROBOTICS</span>
          <span class="logo-text logo-white">FANDOM ROBOTICS</span>
        </div>
      </a>
      <!-- /logo -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
        aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navigation">
        <ul class="navbar-nav ml-auto text-center">
          <li class="nav-item @@if( active === 'home' ){active}">
            <a class="nav-link" href="index.html">홈</a>
          </li>
          <li class="nav-item @@if( active==='about' ){ active }">
            <a class="nav-link" href="about.html">회사소개</a>
          </li>
          <li class="nav-item @@if( active==='service' ){ active }">
            <a class="nav-link" href="service.html">서비스</a>
          </li>
          <li class="nav-item @@if( active==='portfolio' ){ active }">
            <a class="nav-link" href="portfolio.html">프로젝트</a>
          </li>
          <li class="nav-item @@if( active==='contact' ){ active }">
            <a class="nav-link" href="contact.html">문의</a>
          </li>

        </ul>
      </div>
    </nav>
    <!-- /main nav -->
  </div>
</header>
<!--
End Fixed Navigation
==================================== -->