<!--
Start About Section
==================================== -->
<section class="service-2 section">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-lg-6">
        <!-- section title -->
        <div class="title text-center">
          <h2>핵심 서비스</h2>
          <p>AI와 블록체인 기술의 융합을 통해 혁신적인 비즈니스 솔루션을 제공합니다</p>
          <div class="border"></div>
        </div>
        <!-- /section title -->
      </div>
    </div>
    <div class="row">

      <div class="col-md-4 text-center d-none d-md-block">
        <img loading="lazy" src="images/about/blockchain.jpg" class="img-fluid inline-block" alt="">
      </div>
      <div class="col-md-8">
        <div class="row text-center">
          <div class="col-md-6 col-sm-6">
            <div class="service-item">
              <i class="tf-ion-ios-briefcase-outline"></i>
              <h4>암호화폐 재단 컨설팅</h4>
              <p>재단 설립부터 백서, 토크노믹스 설계까지 원스톱 컨설팅 서비스를 제공합니다.</p>
            </div>
          </div><!-- END COL -->
          <div class="col-md-6 col-sm-6">
            <div class="service-item">
              <i class="tf-ion-ios-cart-outline"></i>
              <h4>토큰 발행 및 상장</h4>
              <p>성공적인 자금 조달과 유동성 확보를 위한 전략적 상장 지원을 제공합니다.</p>
            </div>
          </div><!-- END COL -->
          <div class="col-md-6 col-sm-6">
            <div class="service-item">
              <i class="tf-ion-ios-gear-outline"></i>
              <h4>블록체인 시스템 개발</h4>
              <p>자체 메인넷, DEX, NFT 마켓플레이스 등 맞춤형 블록체인 솔루션을 개발합니다.</p>
            </div>
          </div><!-- END COL -->
          <div class="col-md-6 col-sm-6">
            <div class="service-item">
              <i class="tf-ion-ios-locked-outline"></i>
              <h4>DApp 및 지갑 개발</h4>
              <p>높은 보안성과 사용자 경험을 갖춘 탈중앙화 애플리케이션 및 지갑을 구축합니다.</p>
            </div>
          </div><!-- END COL -->
        </div>
      </div>
    </div> <!-- End row -->
  </div> <!-- End container -->
</section> <!-- End section -->